[submodule "modules/exhibitor"]
	path = modules/exhibitor
	url = https://github.com/heartysoft/puppet-exhibitor
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "modules/jdk"]
	path = modules/jdk
	url = https://github.com/heartysoft/puppet-jdk
[submodule "modules/zookeeper"]
	path = modules/zookeeper
	url = https://github.com/heartysoft/puppet-zookeeper
[submodule "modules/zkui"]
	path = modules/zkui
	url = https://github.com/heartysoft/puppet-zkui
